<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- internet permissions and network state permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TambaKu_"
        tools:targetApi="31">
        <activity
            android:name=".Demam"
            android:exported="false" />
        <activity
            android:name=".Diare"
            android:exported="false" />
        <activity
            android:name=".Flu"
            android:exported="false" />
        <activity
            android:name=".Sembelit"
            android:exported="false" />
        <activity
            android:name=".Maag"
            android:exported="false" />
        <activity
            android:name=".Batuk"
            android:exported="false" />
        <activity
            android:name=".IUmum.Pembuangan"
            android:exported="false" />
        <activity
            android:name=".IUmum.Penggunaan"
            android:exported="false" />
        <activity
            android:name=".IUmum.Pemilihan"
            android:exported="false" />
        <activity
            android:name=".IUmum.Kemasan"
            android:exported="false" />
        <activity
            android:name=".IUmum.Penggolongan"
            android:exported="false" />
        <activity
            android:name=".IUmum.Kadaluarsa"
            android:exported="false" />
        <activity
            android:name=".IUmum.Obat"
            android:exported="false" />
        <activity
            android:name=".IUmum.Swaprevensi"
            android:exported="false" />
        <activity
            android:name=".IUmum.Swamedikasi"
            android:exported="false" />
        <activity
            android:name=".Navigation.Konsul"
            android:exported="false" />
        <activity
            android:name=".Navigation.Tentang"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>